<!DOCTYPE html>
<html>
<body>
  <script>
  {% include "vocapp/homepage/index.js" %}
  </script>
<h1>Hello user !</h1>
<P> Welcome to our website<p/>
<p>
  <button type="button" onclick="onLoginClick()" = >Go Login</button>
</p>

<p>

  <button type = "button" onclick = "onContactClick()" >Go Contact </button>
</p>

<p>
  <button type="button"onclick ="onRegisterClick()">Go Register</button>
</p>

<p id="version"></p>
<p>
  <button type="button"onclick="onVersionClick()">Go Version</button>
</p>

<p>
  <button type="button"onclick ="onDashboardClick()">Go Dashboard</button>
</p>



</body>
</html>
