<!DOCTYPE html>
<html>
<body>

<h1>Account Register</h1>
<script>
  {% include "vocapp/gateway/register.js"%}
</script>

<p>
Username:
<input  id = "username" name = "username " type ="text"></input>
</p>

<p>
First name:
<input id = "first_name" name = "first_name " type ="text"></input>
</p>

<p>
Last name:
<input id = "last_name" name = "last_name " type ="text"></input>
</p>

<p>
Email:
<input id = "email" name = "email " type ="text"></input>
</p>

<p>
Password:
<input id = "password" name = "password " type ="password"></input>
</p>




<button type = "button" onclick = "onRegisterClick()" > Register </button>
<button type="button" onclick="onBackClick()">Back</button>
