<!-- register/index.html -->
<!DOCTYPE html>
<html>
<head>
<title>Add your new words</title>
</head>
<body>
    <script>
        {% include "vocapp/dashboard/voc_add.js" %}
    </script>

    <h1>Create new word</h1>
    <p>
    Word:
    <input id="name" name="name" type="text"></input>
    </p>
    <p>
    Explantation:
    <input id="name" name="name" type="text"></input>
    </p>
    <p>
    <button type="button" onclick="onLoginClick()">Submit</button>
    <button type="button" onclick="onBackClick()">Back</button>
    </p>
</body>
</html>
